<form id="registerForm">
    <input type="email" name="Email" id="Email" placeholder="Введіть E-mail" />
    <input type="password" name="Password" id="Password" placeholder="Введіть пароль" />
    <input type="password" name="ConfirmPassword" id="ConfirmPassword" placeholder="Повторіть пароль" />
    <input type="button" id="registerSubmit" value="Зареєструватися" />
</form>

<script src="~/Scripts/Register.js" defer></script>